NODE_ENV=development
PORT=3000
HOST=0.0.0.0
FRONTEND_URL=http://127.0.0.1:8000

# Spotify API Configuration
# Obtenha essas credenciais em: https://developer.spotify.com/dashboard/applications
SPOTIFY_CLIENT_ID=seu_client_id_aqui
SPOTIFY_CLIENT_SECRET=seu_client_secret_aqui
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/auth/callback
